<?php

declare(strict_types=1);

/*
 * TraderApi
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\Direction;
use TraderApiLib\Utils\DateTimeHelper;

class AccountActivitiesApi extends BaseApi
{
    /**
     * Returns account activity entries for many types of activities.
     *
     * @param \DateTime|null $date The date for which you want to see activities.
     * @param \DateTime|null $until The response will contain only activities submitted before this
     *        date. (Cannot be used with date.)
     * @param \DateTime|null $after The response will contain only activities submitted after this
     *        date. (Cannot be used with date.)
     * @param string|null $direction asc or desc (default desc if unspecified.)
     * @param int|null $pageSize The maximum number of entries to return in the response. (See the
     *        section on paging above.)
     * @param string|null $pageToken The ID of the end of your current page of results.
     * @param string|null $activityTypes A comma-separated list of the activity types to include in
     *        the response. If unspecified, activities of all types will be returned. See
     *        ActivityType model for values
     *
     * @return ApiResponse Response from the API call
     */
    public function getAccountActivities(
        ?\DateTime $date = null,
        ?\DateTime $until = null,
        ?\DateTime $after = null,
        ?string $direction = null,
        ?int $pageSize = null,
        ?string $pageToken = null,
        ?string $activityTypes = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/account/activities')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                QueryParam::init('date', $date)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('until', $until)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('after', $after)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('direction', $direction)->serializeBy([Direction::class, 'checkValue']),
                QueryParam::init('page_size', $pageSize),
                QueryParam::init('page_token', $pageToken),
                QueryParam::init('activity_types', $activityTypes)
            );

        $_resHandler = $this->responseHandler()
            ->typeGroup('anyOf(AccountTradingActivities,AccountNonTradeActivities)[]')
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns account activity entries for a specific type of activity.
     *
     * @param string $activityType The activity type you want to view entries for. A list of valid
     *        activity types can be found at the bottom of this page.
     * @param \DateTime|null $date The date for which you want to see activities.
     * @param \DateTime|null $until The response will contain only activities submitted before this
     *        date. (Cannot be used with date.)
     * @param \DateTime|null $after The response will contain only activities submitted after this
     *        date. (Cannot be used with date.)
     * @param string|null $direction asc or desc (default desc if unspecified.)
     * @param int|null $pageSize The maximum number of entries to return in the response. (See the
     *        section on paging above.)
     * @param string|null $pageToken The ID of the end of your current page of results.
     *
     * @return ApiResponse Response from the API call
     */
    public function getAccountActivitiesByActivityType(
        string $activityType,
        ?\DateTime $date = null,
        ?\DateTime $until = null,
        ?\DateTime $after = null,
        ?string $direction = null,
        ?int $pageSize = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/account/activities/{activity_type}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('activity_type', $activityType)->required(),
                QueryParam::init('date', $date)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('until', $until)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('after', $after)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('direction', $direction)->serializeBy([Direction::class, 'checkValue']),
                QueryParam::init('page_size', $pageSize),
                QueryParam::init('page_token', $pageToken)
            );

        $_resHandler = $this->responseHandler()
            ->typeGroup('oneOf(AccountTradingActivities,AccountNonTradeActivities)[]')
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
