<?php

declare(strict_types=1);

/*
 * TraderApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\AccountConfigurations;

class AccountConfigurationsApi extends BaseApi
{
    /**
     * gets the current account configuration values
     *
     * @return ApiResponse Response from the API call
     */
    public function getAccountConfig(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/account/configurations')
            ->auth(Auth::and('API_Key', 'API_Secret'));

        $_resHandler = $this->responseHandler()->type(AccountConfigurations::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates and returns the current account configuration values
     *
     * @param AccountConfigurations|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function patchAccountConfig(?AccountConfigurations $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v2/account/configurations')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(AccountConfigurations::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
