<?php

declare(strict_types=1);

/*
 * TraderApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\Calendar;
use TraderApiLib\Utils\DateTimeHelper;

class CalendarApi extends BaseApi
{
    /**
     * Returns the market calendar.
     *
     * @param \DateTime|null $start The first date to retrieve data for (inclusive)
     * @param \DateTime|null $end The last date to retrieve data for (inclusive)
     *
     * @return ApiResponse Response from the API call
     */
    public function getCalendar(?\DateTime $start = null, ?\DateTime $end = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/calendar')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                QueryParam::init('start', $start)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('end', $end)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime'])
            );

        $_resHandler = $this->responseHandler()->type(Calendar::class, 1)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
