<?php

declare(strict_types=1);

/*
 * TraderApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\CanceledOrderResponse;
use TraderApiLib\Models\Direction;
use TraderApiLib\Models\Order;
use TraderApiLib\Models\PatchOrderRequest;
use TraderApiLib\Models\Status1;

class OrdersApi extends BaseApi
{
    /**
     * Places a new order for the given account. An order request may be rejected if the account is not
     * authorized for trading, or if the tradable balance is insufficient to fill the order..
     *
     * @param Order $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postOrder(Order $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/orders')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('403', ErrorType::init("Forbidden\n\nBuying power or shares is not sufficient."))
            ->throwErrorOn('422', ErrorType::init("Unprocessable\n\nInput parameters are not recognized."))
            ->type(Order::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a list of orders for the account, filtered by the supplied query parameters.
     *
     * @param string|null $status Order status to be queried. open, closed or all. Defaults to open.
     * @param int|null $limit The maximum number of orders in response. Defaults to 50 and max is
     *        500.
     * @param string|null $after The response will include only ones submitted after this timestamp
     *        (exclusive.)
     * @param string|null $until The response will include only ones submitted until this timestamp
     *        (exclusive.)
     * @param string|null $direction The chronological order of response based on the submission
     *        time. asc or desc. Defaults to desc.
     * @param bool|null $nested If true, the result will roll up multi-leg orders under the legs
     *        field of primary order.
     * @param string|null $symbols A comma-separated list of symbols to filter by (ex.
     *        “AAPL,TSLA,MSFT”). A currency pair is required for crypto orders (ex. “BTCUSD,BCHUSD,
     *        LTCUSD,ETCUSD”).
     *
     * @return ApiResponse Response from the API call
     */
    public function getAllOrders(
        ?string $status = null,
        ?int $limit = null,
        ?string $after = null,
        ?string $until = null,
        ?string $direction = null,
        ?bool $nested = null,
        ?string $symbols = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/orders')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                QueryParam::init('status', $status)->serializeBy([Status1::class, 'checkValue']),
                QueryParam::init('limit', $limit),
                QueryParam::init('after', $after),
                QueryParam::init('until', $until),
                QueryParam::init('direction', $direction)->serializeBy([Direction::class, 'checkValue']),
                QueryParam::init('nested', $nested),
                QueryParam::init('symbols', $symbols)
            );

        $_resHandler = $this->responseHandler()->type(Order::class, 1)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Attempts to cancel all open orders. A response will be provided for each order that is attempted to
     * be cancelled. If an order is no longer cancelable, the server will respond with status 500 and
     * reject the request.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteAllOrders(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/orders')
            ->auth(Auth::and('API_Key', 'API_Secret'));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Failed to cancel order.'))
            ->type(CanceledOrderResponse::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a single order for the given order_id.
     *
     * @param string $orderId order id
     * @param bool|null $nested If true, the result will roll up multi-leg orders under the legs
     *        field of primary order.
     *
     * @return ApiResponse Response from the API call
     */
    public function getOrderByOrderId(string $orderId, ?bool $nested = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/orders/{order_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('order_id', $orderId)->required(),
                QueryParam::init('nested', $nested)
            );

        $_resHandler = $this->responseHandler()->type(Order::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Replaces a single order with updated parameters. Each parameter overrides the corresponding
     * attribute of the existing order. The other attributes remain the same as the existing order.
     *
     * A success return code from a replaced order does NOT guarantee the existing open order has been
     * replaced. If the existing open order is filled before the replacing (new) order reaches the
     * execution venue, the replacing (new) order is rejected, and these events are sent in the
     * trade_updates stream channel.
     *
     * While an order is being replaced, buying power is reduced by the larger of the two orders that have
     * been placed (the old order being replaced, and the newly placed order to replace it). If you are
     * replacing a buy entry order with a higher limit price than the original order, the buying power is
     * calculated based on the newly placed order. If you are replacing it with a lower limit price, the
     * buying power is calculated based on the old order.
     *
     *
     * @param string $orderId order id
     * @param PatchOrderRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function patchOrderByOrderId(string $orderId, PatchOrderRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v2/orders/{order_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('order_id', $orderId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->type(Order::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Attempts to cancel an Open Order. If the order is no longer cancelable, the request will be rejected
     * with status 422; otherwise accepted with return status 204.
     *
     * @param string $orderId order id
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteOrderByOrderId(string $orderId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/orders/{order_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(TemplateParam::init('order_id', $orderId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('422', ErrorType::init('The order status is not cancelable.'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
