<?php

declare(strict_types=1);

/*
 * TraderApi
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\PortfolioHistory;
use TraderApiLib\Utils\DateTimeHelper;

class PortfolioHistoryApi extends BaseApi
{
    /**
     * Returns timeseries data about equity and profit/loss (P/L) of the account in requested timespan.
     *
     * @param string|null $period The duration of the data in <number> + <unit>, such as 1D, where
     *        <unit> can be D for day, W for week, M for month and A for year. Defaults to 1M.
     * @param string|null $timeframe The resolution of time window. 1Min, 5Min, 15Min, 1H, or 1D. If
     *        omitted, 1Min for less than 7 days period, 15Min for less than 30 days, or otherwise
     *        1D.
     * @param \DateTime|null $dateEnd The date the data is returned up to, in “YYYY-MM-DD” format.
     *        Defaults to the current market date (rolls over at the market open if extended_hours
     *        is false, otherwise at 7am ET)
     * @param string|null $extendedHours If true, include extended hours in the result. This is
     *        effective only for timeframe less than 1D.
     *
     * @return ApiResponse Response from the API call
     */
    public function getAccountPortfolioHistory(
        ?string $period = null,
        ?string $timeframe = null,
        ?\DateTime $dateEnd = null,
        ?string $extendedHours = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/account/portfolio/history')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                QueryParam::init('period', $period),
                QueryParam::init('timeframe', $timeframe),
                QueryParam::init('date_end', $dateEnd)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('extended_hours', $extendedHours)
            );

        $_resHandler = $this->responseHandler()->type(PortfolioHistory::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
