<?php

declare(strict_types=1);

/*
 * TraderApi
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\Order;
use TraderApiLib\Models\Position;
use TraderApiLib\Models\PositionClosedReponse;

class PositionsApi extends BaseApi
{
    /**
     * The positions API provides information about an account’s current open positions. The response will
     * include information such as cost basis, shares traded, and market value, which will be updated live
     * as price information is updated. Once a position is closed, it will no longer be queryable through
     * this API
     *
     * Retrieves a list of the account’s open positions
     *
     * @return ApiResponse Response from the API call
     */
    public function getAllOpenPositions(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/positions')
            ->auth(Auth::and('API_Key', 'API_Secret'));

        $_resHandler = $this->responseHandler()->type(Position::class, 1)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Closes (liquidates) all of the account’s open long and short positions. A response will be provided
     * for each order that is attempted to be cancelled. If an order is no longer cancelable, the server
     * will respond with status 500 and reject the request.
     *
     * @param bool|null $cancelOrders If true is specified, cancel all open orders before
     *        liquidating all positions.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteAllOpenPositions(?bool $cancelOrders = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/positions')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(QueryParam::init('cancel_orders', $cancelOrders));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('500', ErrorType::init('Failed to liquidate'))
            ->type(PositionClosedReponse::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves the account’s open position for the given symbol or assetId.
     *
     * @param string $symbolOrAssetId symbol or assetId
     *
     * @return ApiResponse Response from the API call
     */
    public function getOpenPosition(string $symbolOrAssetId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/positions/{symbol_or_asset_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(TemplateParam::init('symbol_or_asset_id', $symbolOrAssetId)->required());

        $_resHandler = $this->responseHandler()->type(Position::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Closes (liquidates) the account’s open position for the given symbol. Works for both long and short
     * positions.
     *
     * @param string $symbolOrAssetId symbol or assetId
     * @param float|null $qty the number of shares to liquidate. Can accept up to 9 decimal points.
     *        Cannot work with percentage
     * @param float|null $percentage percentage of position to liquidate. Must be between 0 and 100.
     *        Would only sell fractional if position is originally fractional. Can accept up to 9
     *        decimal points. Cannot work with qty
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteOpenPosition(
        string $symbolOrAssetId,
        ?float $qty = null,
        ?float $percentage = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/positions/{symbol_or_asset_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('symbol_or_asset_id', $symbolOrAssetId)->required(),
                QueryParam::init('qty', $qty),
                QueryParam::init('percentage', $percentage)
            );

        $_resHandler = $this->responseHandler()->type(Order::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
