<?php

declare(strict_types=1);

/*
 * TraderApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TraderApiLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TraderApiLib\Http\ApiResponse;
use TraderApiLib\Models\AddAssetToWatchlistRequest;
use TraderApiLib\Models\PostWatchlistRequest;
use TraderApiLib\Models\Watchlist;

class WatchlistsApi extends BaseApi
{
    /**
     * Returns the list of watchlists registered under the account.
     *
     * @return ApiResponse Response from the API call
     */
    public function getWatchlists(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/watchlists')
            ->auth(Auth::and('API_Key', 'API_Secret'));

        $_resHandler = $this->responseHandler()->type(Watchlist::class, 1)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new watchlist with initial set of assets.
     *
     * @param PostWatchlistRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postWatchlist(PostWatchlistRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/watchlists')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a watchlist identified by the ID.
     *
     * @param string $watchlistId watchlist id
     *
     * @return ApiResponse Response from the API call
     */
    public function getWatchlistById(string $watchlistId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/watchlists/{watchlist_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(TemplateParam::init('watchlist_id', $watchlistId)->required());

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update the name and/or content of watchlist
     *
     * @param string $watchlistId watchlist id
     * @param PostWatchlistRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updateWatchlistById(string $watchlistId, ?PostWatchlistRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/watchlists/{watchlist_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('watchlist_id', $watchlistId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Append an asset for the symbol to the end of watchlist asset list
     *
     * @param string $watchlistId watchlist id
     * @param AddAssetToWatchlistRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function addAssetToWatchlist(string $watchlistId, ?AddAssetToWatchlistRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/watchlists/{watchlist_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('watchlist_id', $watchlistId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a watchlist. This is a permanent deletion.
     *
     * @param string $watchlistId watchlist id
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteWatchlistById(string $watchlistId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/watchlists/{watchlist_id}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(TemplateParam::init('watchlist_id', $watchlistId)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a watchlist by name
     *
     * @param string $name name of the watchlist
     *
     * @return ApiResponse Response from the API call
     */
    public function getWatchlistByName(string $name): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/watchlists:by_name')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(QueryParam::init('name', $name)->required());

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update the name and/or content of watchlist
     *
     * @param string $name name of the watchlist
     * @param PostWatchlistRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updateWatchlistByName(string $name, ?PostWatchlistRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v2/watchlists:by_name')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                QueryParam::init('name', $name)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Append an asset for the symbol to the end of watchlist asset list
     *
     * @param string $name name of the watchlist
     * @param AddAssetToWatchlistRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function addAssetToWatchlistByName(string $name, ?AddAssetToWatchlistRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/watchlists:by_name')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                QueryParam::init('name', $name)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a watchlist. This is a permanent deletion.
     *
     * @param string $name name of the watchlist
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteWatchlistByName(string $name): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/watchlists:by_name')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(QueryParam::init('name', $name)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete one entry for an asset by symbol name
     *
     * @param string $watchlistId Watchlist ID
     * @param string $symbol symbol name to remove from the watchlist content
     *
     * @return ApiResponse Response from the API call
     */
    public function removeAssetFromWatchlist(string $watchlistId, string $symbol): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v2/watchlists/{watchlist_id}/{symbol}')
            ->auth(Auth::and('API_Key', 'API_Secret'))
            ->parameters(
                TemplateParam::init('watchlist_id', $watchlistId)->required(),
                TemplateParam::init('symbol', $symbol)->required()
            );

        $_resHandler = $this->responseHandler()->type(Watchlist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
